@charset "utf-8";
/* CSS Document */
.topnav {
	width: 100%;
	padding: 40px 28px 25px 0;
	font-family:Arial, Helvetica, sans-serif;
	height:100%;
	position:relative;
	top:0px;
}

ul.topnav {
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 0.5em;
	list-style: none;
	

}

ul.topnav li {
	
}

ul.topnav li a {
	line-height: 10px;
	font-size: 11px;
	padding: 10px 5px;
	color: #FFF;
	display: block;
	text-decoration: none;
	font-weight: bolder;
	background-color:#e80000;
	
}

ul.topnav li a:hover {
	background-color:#675C7C;
	color:white;
}

ul.topnav ul {
	margin: 0;
	padding: 0;
	display: none;
	
}

ul.topnav ul li {
	margin: 0;
	padding: 0;
	clear: both;
}

ul.topnav ul li a {
	padding-left: 10px;
	font-size: 12px;
	font-weight: normal;
	outline:0;
    text-align:center;
	background-color:#ff8888;
	color:#000000;
	font-weight:bold;
}

ul.topnav ul li button {
	padding-left: 20px;
	font-size: 10px;
	font-weight: normal;
	outline:0;
    text-align:center;
	background-color:#ff8888;
}


ul.topnav ul li a:hover {
	background-color:#D3C99C;
	color:#675C7C;
}

ul.topnav ul ul li a {
	color:silver;
	margin:auto;
	text-align:center;

}

ul.topnav ul ul li a:hover {
	background-color:#D3CEB8;
	color:#675C7C;
}

ul.topnav span{
	float:right;
}

