<hml>
<body>
<div id="div_img_id_back" style="border-radius:5px;border:black solid thin;width: 6.75cm;height: 9.7cm;position:relative;float: right;">
                <img src="../images/hrms/ID_BACKRSPS.png" style="border-radius:5px;width: 6.70cm;height: 9.6cm;" alt="Emp ID">
                <div id="s_name" style="position: relative;top: -312px;left: 83px;font-size: 12px;width: 63%;text-align: left;">
                    Nelson G. Cañete
                </div>
                <div id="s_gender" style="position: relative;top: -310px;left: 83px;font-size: 12px;width: 63%;text-align: left;">
                    Male
                </div>
                <div id="s_address" style="position: relative;top: -309px;left: 83px;font-size: 12px;width: 70%;text-align: left;">
                    Bato Sta. Cruz Davao Del Sur.
                </div>
                <div id="s_contact" style="position: relative;top: -308px;left: 83px;font-size: 12px;width: 70%;text-align: left;">
                    09304979981
                </div>

                <div id="p_name" style="position: relative;top: -277px;left: 83px;font-size: 12px;width: 70%;text-align: left;">
                    Paulino Cañete
                </div>
                <div id="p_relation" style="position: relative;top: -275px;left: 83px;font-size: 12px;width: 70%;text-align: left;">
                    Father
                </div>
                <div id="p_address" style="position: relative;top: -275px;left: 83px;font-size: 12px;width: 70%;text-align: left;">
                    Bato Sta. Cruz Davao Del Sur.
                </div>
                <div id="p_contact" style="position: relative;top: -274px;left: 83px;font-size: 12px;width: 70%;text-align: left;">
                    09304979981
                </div>
            </div>
            </body>
            <html>